[submodule "demo/deps/glfw"]
	path = demo/deps/glfw
	url = https://github.com/glfw/glfw
[submodule "demo/deps/tinyobjloader"]
	path = demo/deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
