[submodule "demo/deps/glfw"]
	path = demo/deps/glfw
	url = https://github.com/glfw/glfw
[submodule "demo/deps/tinyobjloader"]
	path = demo/deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "hybrid-renderer-lib/deps/vk-bootstrap"]
	path = hybrid-renderer-lib/deps/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "hybrid-renderer-lib/deps/VulkanMemoryAllocator"]
	path = hybrid-renderer-lib/deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "demo/deps/imgui"]
	path = demo/deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "hybrid-renderer-lib/deps/glm"]
	path = hybrid-renderer-lib/deps/glm
	url = https://github.com/g-truc/glm
